.todo-actions {
  padding-block: 20px;
}

.todo-actions__list {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-actions__item {
  width: 26px;
  height: 26px;
}

.add-button {
  background-image: url('../../assets/icons/add-button.svg');
}

.view-button {
  background-image: url('../../assets/icons/view-button.svg');
}

.edit-button {
  background-image: url('../../assets/icons/edit-button.svg');
}

.complete-button {
  background-image: url('../../assets/icons/complete-button.svg');
}

.remove-button {
  background-image: url('../../assets/icons/delete-button.svg');
}