.todo-content__front {
  padding: 15px 10px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 1px 4px 4px rgba(82, 97, 106, 0.25);
}

.todo__title {
  margin-bottom: 15px;
  color: #1e2022;
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo__item {
  display: flex;
  align-items: center;
  color: #1e2022;
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.7px;

  & button {
    margin-right: 15px;
    width: 20px;
    height: 20px;
  }
}

.check-button {
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icons/check-button.svg');
}
