@import './styles/_reset';

@import './components/Header/Header';
@import './components/NavBar/NavBar';

body {
  height: 100%;
  background-color: #f0f5f9;
  font-family: "Roboto", serif;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;
  max-width: 500px;
}

.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}